<div class="col-md-4  border border-4 border-dark rounded-3 d-block mx-auto m-4">
  <div class="login ">
    <div class="card">
      <a routerLink="/slider" class="close-button">X</a>
      <img class="img-fluid" src="../../../assets/login.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="displayTable">
          <div class="displayTableCell">
            <div class="authBlock m-1">
              <h3>Inicia sesión</h3>
              <div class="formGroup">
                <input type="text" class="formControl m-1" placeholder="Usuario" #userName required>
              </div>
              <div class="formGroup">
                <input type="password" class="formControl m-1" placeholder="Contraseña" #userPassword required>
              </div>
              <!-- Calling SignIn Api from AuthService -->
              <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Iniciar"
                  (click)="authService.SignIn(userName.value, userPassword.value)">
              </div>
              <div class="forgotPassword m-2">
                <span routerLink="/forgot-password" style="cursor:pointer"> Olvidaste la contraseña?</span>
              </div>
              <div class="redirectToLogin m-2">
                <span routerLink="/register-user" style="cursor:pointer"> Registrarse</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>